body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    

}

tr:hover {
    background-color: #f2f2f2;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
}
.search-container button{
    padding: 5px;
    width: 100px;
    box-sizing: border-box;

}

.pagination {
    margin-top: 10px; 
}

.pagination a {
    margin-right: 5px; 
}
.pagination a.disabled {
    pointer-events: none; 
    color: gray; 
}

/* CSS for form */
.form-container {
    margin-bottom: 20px;
}

#userForm {
    width: 300px;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

#userForm label {
    display: block;
    margin-bottom: 10px;
}

#userForm input[type="text"],
#userForm input[type="email"],
#userForm select,
#userForm input[type="date"],
#userForm input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#userForm input[type="submit"] {
    width: 105%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#userForm input[type="submit"]:hover {
    background-color: #0056b3;
}
