ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 5px 0;
}

.card p {
    margin: 5px 0;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    margin-bottom: 10px;
}

form button {
    align-self: flex-start;
}

#search-bar {
  margin: 60px 10px 5px 20rem;
}
#pagination-container {
  display: flex;
  justify-content: center;
}
#pagination {
  margin-top: 20px;
}

#pagination button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

#pagination button:last-child {
  margin-right: 0;
}
#category-filter{
  margin-left: 350px;


}
#category-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  
}

/* Style for filter label */
label {
  font-size: 18px;
  margin-right: 10px;
}

#search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  flex-grow: .5;
  margin-right: 10px;
}

#search-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

#search-button:hover {
  background-color: #0056b3;
}