.Container{ 
  display: flex;
  justify-content: center;
  margin-top: 50px;  
}
.card{
  height: 315px;
  width: 215px;
  background-color: #303330;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  border: 1px solid black;
  background-color: #b9b0b0;
  text-align: center;
  margin: 10px;
}
p{
  text-align: center;
}


